<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Github</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
</head>
<body>
  <header>
    <div class="mark-logo">
      <span class="mega-octicon octicon-mark-github"></span>
    </div>
    <div class="github-logo">
      <span class="mega-octicon octicon-logo-github"></span>
    </div>
  </header>
  <div class="page-container">
    <div class="sidebar-container">
      <div class="user-info"></div>
      <div class="orgs"></div>
    </div>
    <div class="repo-container"></div>
  </div>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>

<!-- User Items container/template -->
<script type="text/template" class="user-items">

  <a href ="<%= avatar_url %>">
    <img class="avatar-image" src="<%= avatar_url %>"/>
  </a>
  <span class="users-name">
    <%= name %>
  </span>
  <span class="users-login">
    <%= login %>
  </span>
  <ul class="vcard-details">
    <li class="vcard-detail">
      <span class="octicon octicon-location"></span><%= location %>
    </li>
    <li class="vcard-detail">
      <span class="octicon octicon-mail"></span><a href="mailto:<%= email %>"><%= email %></a>
    </li>
    <li class="vcard-detail">
      <span class="octicon octicon-clock"></span>Joined On <%= moment(created_at).format('ll') %>
    </li>
  </ul>

  <div class="user-stats">
    <a class="user-stat" href="#">
      <strong class="user-stat-count"><%= followers %></strong>
      <span class="stat-text">Followers</span>
    </a>
    <a class="user-stat" href="#">
      <strong class="user-stat-count starred-count">0</strong>
      <span class="stat-text">Starred</span>
    </a>
    <a class="user-stat" href="#">
      <strong class="user-stat-count"><%= following %></strong>
      <span class="stat-text">Following</span>
    </a>
  </div>
</script>

<script type="text/template" class="user-orgs">
  <span class=orgs-title>Organizations</span>
  <a href="<%= url %>" class="orgs-url">
    <img class="orgs-image" src="<%= avatar_url %>"/>
  </a>
</script>


<!-- Repo container/template -->
<script type="text/template" class="repo-info">

  <ul class="repo-list">
    <li class="repo-list-item repo-name-container">
      <a href="<%= html_url %>" class="repo-url"><%= name %></a>
    </li>
    <li class="repo-list-item repo-stats">
      <span class="language"><%= language %></span>
      <a href="<%= stargazers_url %>"><span class="octicon octicon-star"></span><%= stargazers_count %></a>
      <a href="<%= forks_url %>"><span class="octicon octicon-git-branch"></span><%= forks_count %></a>
    </li>


    <li class="repo-list-item">
      <span class="last-updated">Updated <%= moment(updated_at).fromNow() %></span>
    </li>
  </ul>

</script>


<script type="text/javascript" src="scripts/token.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</body>

</html>
